*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #F5F5DC;
  background-image: linear-gradient(to bottom, #778899, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.btn-form {
  width: 100%;
  background: darkblue;
  color: white;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}

.btn {
  width: 100%;
  background: darkblue;
  color: white;
  border: none;
  padding: 10px 30px;
  cursor: pointer;

}

button:focus {
  outline: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  background: #F5F5DC;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: inherit;
}
.task-form {
  margin-top: 1rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.task-form > div  > input {
  flex-grow: 1;
  box-sizing: border-box;
  display: block;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 300px;
  font-size: 1em;
  margin-right: 16px;
  margin-top: 4px;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.login-form > div {
  margin: 8px;
}

.login-form > div > label {
  font-weight: bold;
}

.login-form > div  > input {
  flex-grow: 1;
  box-sizing: border-box;
  display: block;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 300px;
  font-size: 1em;
  margin-right: 16px;
  margin-top: 4px;
}

.login-form > div > input:focus {
  outline: 0;
}


.link{
  cursor: pointer;

}

.msg-error{
  color: red;
}

.msg-success{
  color: green;
}
.logout{
  display: flex;
  align-self: flex-end;
  margin: 8px 16px 0;
  font-weight: bold;
  cursor: pointer;
}
